# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore database
db.sqlite3

# Ignore environment files
.env

# Ignore Django static and media files
staticfiles/
media/
myapi/settings.py
